@import url('https://fonts.googleapis.com/css2?family=Karla:ital@0;1&display=swap');
@import "./settings.scss";
.App{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 10px;
}
*{
  box-sizing: border-box;
  font-family: 'Karla';
  margin:0;
  padding:0
}
ul{
  list-style: none;
}
body{
  background-color: #D5DDED
}