$font-color-light: #fff;
$font-details-color: #34495e;

$background-color-dark: #130f40;
$background-color-dark2: #183d6d;
$background-color-light: #dff9fb;

$color-success: #6ab04c;
$color-warning: #e74c3c;

$radius: 8px;

$transition: 0.2s;
